.mainContainer {
  width: 70%;
  margin: 1rem auto;
  object-fit: cover;
}

.mainContainer img {
  object-fit: cover;
}

.card {
  object-fit: fill;
  height: 100%;
}

.card p {
  font-size: 15pt;
  margin-top: -2rem;
  font-weight: bold;
}